@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primaryColor: hsl(225, 50%, 48%);
  --secondaryColor: hsl(180, 17%, 95%);
  --colorOne: hsl(15, 74%, 70%);
  --colorTwo: hsl(28, 100%, 82%);
  --hoverColor: hsl(225, 56%, 59%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 12%);
  --textColor: hsl(240, 1%, 48%);
  --borderColor: hsl(0, 0%, 83%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --grayBg: hsl(0, 0%, 96%);
  --grayText: hsl(145, 145, 145);
  --inputColor: hsl(330, 12%, 97%);
  --boxShadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba
          (
              0,
              0,
              0,
              0.5
          )
          0px 4px 6px -2px;
  --transition: 0.4s each-in-out;
}

body {
  background: var(--whiteColor);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: var(--primaryColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--whiteColor);
}
.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}
.btn:hover {
  background: var(--hoverColor);
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: var(--grayText);
}

p {
  font-size: 13px;
  color: var(--grayText);
  line-height: 22px;
}

h4 {
  padding: 1rem;
  font-size: 700;
  color: var(--blackColor);
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: var(--blackColor);
}

.NavigationBar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
}
.NavigationBar .NavigationBarOne,
.NavigationBar .NavigationBarTwo {
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.NavigationBar .NavigationBarOne {
  background: var(--secondaryColor);
}
.NavigationBar .NavigationBarOne .icon:hover {
  color: var(--primaryColor);
}
.NavigationBar .NavigationBarOne .ats {
  gap: 1rem;
}
.NavigationBar .NavigationBarOne .ats span {
  color: var(--blackColor);
  font-size: 13px;
  cursor: pointer;
}
.NavigationBar .NavigationBarOne .ats span:hover {
  color: var(--primaryColor);
  font-size: 700;
}
.NavigationBar .NavigationBarTwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 3rem;
  padding: 1.5rem 1rem;
  position: fixed;
  transition: 0.3s ease-in-out;
}
.NavigationBar .NavigationBarTwo .logoDiv .logo {
  width: 20%;
}
@media screen and (max-width: 768px) {
  .NavigationBar .NavigationBarTwo .navBarMenu {
    position: absolute;
    background: var(--secondaryColor);
    padding: 1.5rem;
    border-radius: 10px;
    top: 5rem;
    right: -50%;
    width: 80%;
    transform: translateX(50%);
    z-index: 2000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.5) 0px 4px 6px -2px;
    border: 3px solid var(--whiteColor);
    transition: 0.4s ease-in-out;
  }
  .NavigationBar .NavigationBarTwo .navBarMenu .menu {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .NavigationBar .NavigationBarTwo .navBarMenu .menu .listItem {
    padding: 0.5rem 0;
    cursor: pointer;
    color: var(--blackColor);
  }
  .NavigationBar .NavigationBarTwo .navBarMenu .menu .listItem:hover {
    color: var(--primaryColor);
    font-weight: 700;
  }
  .NavigationBar .NavigationBarTwo .navBarMenu .btnOne {
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
  }
  .NavigationBar .NavigationBarTwo .btnTwo {
    display: none;
  }
}
.NavigationBar .NavigationBarTwo .toggleIcon .icon {
  font-size: 30px;
  color: var(--blackColor);
}
.NavigationBar .NavigationBarTwo .showNavBar {
  right: 50%;
  transition: 0.3s ease-in-out;
}
.NavigationBar .navbarWithBg {
  background: var(--secondaryColor);
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
}
.home .mainContent {
  color: var(--blackColor);
  font-weight: 700;
  font-size: 15px;
  line-height: 2.5rem;
}
.home .homeImg {
  width: 100%;
  margin: 1rem auto 0;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
}
.home .bus {
  border-radius: 10rem;
  width: 100%;
}

.search .sectionContainer {
  width: 100%;
  padding: 1.5rem;
  border: 2px solid var(--grayBg);
  border-radius: 16px;
  row-gap: 2rem;
}
.search .sectionContainer .btns {
  background: var(--secondaryColor);
  padding: 0.5rem;
  border-radius: 1rem;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.search .sectionContainer .btns .singleBtn {
  padding: 0.8rem 1.5rem;
  font-size: 13px;
  border-radius: 3rem;
  width: 80%;
  align-items: center;
}
.search .sectionContainer .btns .singleBtn:hover {
  background: var(--primaryColor);
  color: var(--whiteColor);
  font-weight: 500;
  transition: 0.4s ease;
}
.search .sectionContainer .btns .active {
  background: var(--primaryColor);
  color: var(--whiteColor);
  font-weight: 500;
}
.search .sectionContainer .searchInputs {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.search .sectionContainer .searchInputs .singlInput .iconDiv {
  padding: 16px 10px;
  border-radius: 3rem;
  background: var(--secondaryColor);
  margin-right: 1rem;
}
.search .sectionContainer .searchInputs .singlInput .iconDiv .icon {
  color: var(--blackColor);
  opacity: 0.7;
}
.search .sectionContainer .searchInputs .singlInput .texts h4 {
  padding-top: 0;
  padding-bottom: 0.7rem;
  color: var(--blackColor);
  font-weight: 700;
}
.search .sectionContainer .searchInputs .singlInput .texts input {
  width: 95%;
  border: none;
  outline: none;
  background: transparent;
}
.search .sectionContainer .searchInputs .singlInput .texts input::-moz-placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.search .sectionContainer .searchInputs .singlInput .texts input::placeholder {
  font-size: 12px;
  opacity: 0.5;
}

.support .sectionContainer .titlesDiv {
  text-align: center;
}
.support .sectionContainer .titlesDiv small {
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--blackColor);
  line-height: 1.5rem;
}
.support .sectionContainer .infoDiv {
  margin-top: 2rem;
  gap: 1.5rem;
}
.support .sectionContainer .infoDiv .textDiv {
  gap: 1.5rem;
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .number {
  background: var(--primaryColor);
  padding: 5px 12px;
  width: 40px;
  border-radius: 3rem;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: var(--whiteColor);
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .numberColor1 {
  background: var(--colorOne);
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .numberColor2 {
  background: var(--colorTwo);
}
.support .sectionContainer .infoDiv imgDiv {
  margin: auto;
}
.support .sectionContainer .infoDiv imgDiv img {
  width: 100%;
  max-width: 420px;
}

.info {
  background: var(--secondaryColor);
}
.info .infoContainer .titleDiv {
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
}
.info .infoContainer .cardDiv {
  gap: 1.5rem;
  margin-top: 3rem;
}
.info .infoContainer .cardDiv .singleCard {
  background: var(--whiteColor);
  padding: 3rem 2rem;
  border-radius: 10rem;
  gap: 1rem;
  text-align: center;
  margin: auto;
  height: 320px;
  width: 90%;
  max-width: 250px;
}
.info .infoContainer .cardDiv .singleCard .iconDiv {
  justify-content: center;
  margin: auto;
  background: var(--primaryColor);
  width: -moz-max-content;
  width: max-content;
  height: 55px;
  padding: 1rem;
  border-radius: 3rem;
}
.info .infoContainer .cardDiv .singleCard .iconDiv .icon {
  color: var(--whiteColor);
}
.info .infoContainer .cardDiv .singleCard .cardTitile {
  color: var(--blackColor);
  font-weight: 700;
}
.info .infoContainer .cardDiv .singleCard .colorz1 {
  background: var(--colorOne);
}
.info .infoContainer .cardDiv .colorz2 {
  background: var(--colorTwo);
}

.travelers .sectionContainer {
  text-align: center;
}
.travelers .sectionContainer .tavelersContainer {
  margin-top: 1rem;
  gap: 1.5rem;
}
.travelers .sectionContainer .tavelersContainer .sinlgeTraveler {
  position: relative;
  height: 320px;
  width: 85%;
  max-width: 250px;
  overflow: hidden;
  border-radius: 10rem;
  gap: 1rem;
  margin: auto;
}
.travelers .sectionContainer .tavelersContainer .sinlgeTraveler .destinationImg,
.travelers .sectionContainer .tavelersContainer .sinlgeTraveler .travelerImg,
.travelers .sectionContainer .tavelersContainer .sinlgeTraveler .travelerName {
  position: absolute;
}
.travelers .sectionContainer .tavelersContainer .sinlgeTraveler .destinationImg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.travelers .sectionContainer .tavelersContainer .sinlgeTraveler .travelerImg {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  bottom: 30px;
  left: 40%;
  transform: translateX(-50%);
  border: 5px solid rgba(225, 225, 225, 0.637);
  transition: var(--transition);
  animation: animated 2.3s infinite;
}
@keyframes animated {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
.travelers .sectionContainer .tavelersContainer .sinlgeTraveler .travelerName {
  bottom: -100%;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background: var(--whiteColor);
  padding: 1.5rem 1rem;
  transition: var(--transition);
  animation: animatedName 2.3s infinite;
}
.travelers .sectionContainer .tavelersContainer .sinlgeTraveler .travelerName span {
  display: block;
  color: black;
  font-weight: 700;
}
.travelers .sectionContainer .tavelersContainer .sinlgeTraveler .travelerName p {
  color: var(--primaryColor);
  font-style: italic;
}
@keyframes animatedName {
  0% {
    border-radius: 0rem;
  }
  50% {
    border-radius: 2rem;
  }
  100% {
    border-radius: 0rem;
  }
}
.travelers .sectionContainer .tavelersContainer .sinlgeTraveler:hover .travelerName {
  bottom: 0;
  transition: 1s ease-in-out;
}
.travelers .sectionContainer .tavelersContainer .sinlgeTraveler:hover .travelerImg {
  bottom: 110px;
  transition: 1s ease-in-out;
}/*# sourceMappingURL=main.css.map */